* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F1FF;
}

.card {
    padding: 100px;
}

.presentation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titre-profil {
    font-size: 5rem;
}

p {
    color: #83869A
}

.text-profil {
    margin-right: 170px;
    padding-top: 20px;
    padding-bottom: 27px;
}

.presentation-buton {
    border: none;
    color: white;
    background: linear-gradient(#FF6F48, #F02AA6, #FFFFFF80);
    cursor: pointer;
    border-radius: 50px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 500;
    font-size: 27px;
}

.image img {
    border-radius: 400px;
    background: linear-gradient(#FF6F48, #F02AA6, #FFFFFF80);
}

.ligne1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-bottom: 50px;
}

.ligne2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.boite1 {
    background: linear-gradient(#FF6F48, #F02AA6);
    border-radius: 15px;
    font-size: 40px;
    color: white;
    font-weight: bold;
    height: 400px;
    width: 500px;
}

.boite2 {
    height: 400px;
    width: 500px;
    border-radius: 15px;
    background-color: white;
}

.boite3 {
    height: 400px;
    width: 500px;
    border-radius: 15px;
    background-color: white;
}

.boite4 {
    height: 400px;
    width: 500px;
    border-radius: 15px;
    background-color: white;
}

.boite5 {
    height: 400px;
    width: 500px;
    border-radius: 15px;
    background-color: white;
}

.boite6 {
    height: 400px;
    width: 500px;
    border-radius: 15px;
    background-color: white;
}